header{
    padding:10px 0;
    color:grey;
    /*position: fixed;*/
    width: 100%; 
    background-color: white
}

header .logo{float:left; width:150px;}

header ul{padding-top:20px; float:right}

header ul li{float:left; font-size: 20px; margin-right: 26px;}

header ul li a{color:rgb(213, 213, 213) !important; font-family: "Alegreya", sans-serif}


@media screen and (max-width:991px){
    header{display: none;}
}